<div class="container-fluid">
    <div class="row">
    	<div class="col-2 mt-5">
    		<div class="p-2">
	    		<p>Favorite Restaurants</p>
	    		<p>Favorite Foods</p>
	    		<p>All Restaurants</p>
	    		<p>All Foods</p>
	    		<p>Sign out</p>
    		</div>
    	</div>
    	<div class="col-10">
    		  <%= yield %>
    	</div>
    </div>
</div>