<%= render :layout => '/shared/sideNav' do %>
		<h1>Favorite Restaurants</h1>
    <% @restaurants.each do |restaurant| %>
    	<%= link_to restaurant do%>
        <%=image_tag restaurant.image_url %>
        <%= restaurant.name %>
      <% end %>
    <% end %>
<% end %>