<div class="pt-5">
	<%=  render 'shared/sideNav' do %>
	  	<div class="col-10 pt-2">
	  		<h1>Favorite Restaurants</h1>
	  		<%= content_tag :div,
				  id: "list",
				  data: @restaurants.to_json do %>
				<% end %>
	  	</div>
	<% end %>
</div>
<%= javascript_pack_tag 'hello_react' %>