<div class="pt-5">
<%=  render 'shared/ownerNav' do %>
	<div class="col-10 ">
		<div class="text-center pb-3">
		<h1>Add Restaurant</h1>
	</div>
		<div class="col-10 center-block">
		<%= render 'form', restaurant: @restaurant %>
	</div>
	</div>
<% end %>
</div>