<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>
<%=image_tag @restaurant.image_url %>
<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<%= link_to 'Back', favRestaurantList_path  %>