/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

a:hover {
  background-color: transparent;
  color: #0F22DC !important;
 text-decoration: none !important;
}
* {
	font-family: 'Roboto', sans-serif !important;
	letter-spacing: 0.1em;
}


@mixin checkmark($size) {
  font-size: $size;
  content: "❤";
  cursor: pointer;
}

@mixin box-style($size) {
  width: 1.05*$size;
  height: $size;
  content: "";
  position: absolute;
  margin-left: -0.3*$size;
  margin-top: -0.15*$size;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.red-heart-checkbox {
  $primary: #F00;
  $secondary: #888;
  $size: 40px;
  visibility: hidden;

  & + label {
    @include no-select;
    font-size: $size;
    padding-left: 0.5*$size;
    transition: all 0.2s;
  }
  &:checked + label:before {
    content: "❤";
    color: $primary;
  }
  & + label:before {
    @include box-style($size);
    @include checkmark($size);
    transition: all 0.3s;
    color: $secondary;
  }
  & + label:hover:before {
    transform: scale(1.2);
  }
}

.foodcheckbox{
  $primary: #F00;
  $secondary: #888;
  $size: 20px;
  visibility: hidden;
  & + label {
    @include no-select;
    font-size: $size;
    padding-left: 0.5*$size;
    transition: all 0.2s;
  }
  &:checked + label:before {
    content: "❤";
    color: $primary;
  }
  & + label:before {
    @include box-style($size);
    @include checkmark($size);
    transition: all 0.3s;
    color: $secondary;
  }
  & + label:hover:before {
    transform: scale(1.2);
  }
}